<!--
Lets the user navigate through a sequence of child elements using next/previous
buttons and arrow keys.

This builds on basic-sequence, which handles the actual task of moving between
the items. To this, basic-sequence-navigator adds:

* A pair of buttons for moving next/previous.
* Keyboard support: the user can press the Right/Left arrows to move next/previous.

The default keyboard support only applies when the element has focus. To
emphasize this fact, the entire element shows a focus rectangle, rather than
showing focus on the individual buttons within the element.

@element basic-sequence-navigator
@demo http://basic-web-components.github.io/components/basic-sequence-navigator/
-->

<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/core-icons/core-icons.html">
<link rel="import" href="basic-sequence.html">

<polymer-element name="basic-sequence-navigator" attributes="effect selected wrapAround">

<template>
  <style>
  :host {
    /*
     * We'd like to apply -webkit-flex here, but it doesn't work; see notes
     * in attached() handler.
     */
    display: none; /* Will get overwritten with next line or by attached(). */
    display: flex;
   }

  #sequenceNavigationContainer {
    display: none;  /* Safari. See notes at attached(). */
    display: flex;
  }
  #sequenceNavigationContainer:focus {
    outline: 1px dotted; /* Safari/IE */
    outline: auto 5px -webkit-focus-ring-color; /* Chrome/Webkit */
  }

  #sequence {
    -webkit-flex: 1;*/
    flex: 1; /* Not to stretch it, but to ensure in shrinks in tight widths. */
  }

  .navigationButton {
    background: transparent;
    border: 1px solid transparent;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .navigationButton:hover:not(:disabled) {
    background: rgba( 0, 0, 0, 0.1 );
    fill: rgba( 0, 0, 0, 0.7 );
  }
  .navigationButton:active:not(:disabled) {
    background: rgba( 0, 0, 0, 0.2 );
    fill: rgba( 0, 0, 0, 0.9 );
  }
  .navigationButton:disabled {
    fill: rgba( 0, 0, 0, 0.2 );
  }
  </style>

  <div id="sequenceNavigationContainer" tabindex="0">

    <!-- We'd like to use on-tap with these buttons, but as of 6/11/14, that's
    no working in IE 11. -->
    <button id="buttonPrevious" class="navigationButton" on-click="{{previous}}" disabled?="{{!canGoPrevious}}" tabindex="-1" aria-label="Previous" aria-controls="sequence">
      <core-icon icon="chevron-left" size="36"></core-icon>
    </button>

    <basic-sequence
      id="sequence"
      canGoNext="{{canGoNext}}"
      canGoPrevious="{{canGoPrevious}}"
      effect="{{effect}}"
      selected="{{selected}}"
      wrapAround="{{wrapAround}}"
      >
      <content></content>
    </basic-sequence>

    <button id="buttonNext" class="navigationButton" on-click="{{next}}" disabled?="{{!canGoNext}}" tabindex="-1" aria-label="Next" aria-controls="sequence">
      <core-icon icon="chevron-right" size="36"></core-icon>
    </button>

  </div>
</template>

<script>
Polymer( "basic-sequence-navigator", {

  attached: function() {
    /*
     * HACK for Safari WebKit. Setting -webkit-flex on host element in CSS
     * doesn't seem to get rendered properly. If we apply it after the element
     * renders, WebKit seems to get the hint and actually apply the flex box
     * styling. This produces some annoying flash, but is better than the
     * element not rendering at all. Use a timeout to give things time to render.
     */
    if ( getComputedStyle( this ).display === "none" ) {
      setTimeout( function() {
        /* Browser didn't pick up "flex" -> we're on WebKit. */
        this.style.display = "-webkit-flex";
        /* Seems we also need to give above change time to render. Ugh. */
        setTimeout( function() {
          this.$.sequenceNavigationContainer.style.display = "-webkit-flex";
        }.bind( this ), 1);
      }.bind( this ), 1);
    }
  },

  effect: "slide",

  /**
   * Move to the next child in the sequence of children.
   * If the last child is already the active one being shown, this has no effect.
   *
   * @method next
   */
  next: function() {
    this.$.sequence.next();
  },

  ready: function() {

    this.super();

    // We want the overall element to get the focus.
    var buttonMousedownHandler = function( event ) {
      this._handleButtonMousedown( event );
    }.bind( this );
    this.$.buttonPrevious.addEventListener( "mousedown", buttonMousedownHandler );
    this.$.buttonNext.addEventListener( "mousedown", buttonMousedownHandler );
    this.addEventListener( "click", function() {
      if ( document.activeElement !== this ) {
        this.$.sequenceNavigationContainer.focus();
      }
    }.bind( this ));

    // Default keyboard navigation (applies only when we have focus).
    this.addEventListener( "keydown", function( event ) {
      var handled;
      switch ( event.which ) { 
        case 37: // Left
          this.previous();
          handled = true;
          break;

        case 39: // Right
          this.next();
          handled = true;
          break;
      }
      if ( handled ) {
        event.stopPropagation();
      }
    }.bind( this ));
  },

  /**
   * Move to the previous child in the sequence of children.
   * If the first child is already the active one being shown, this has no effect.
   *
   * @method previous
   */
  previous: function() {
    this.$.sequence.previous();
  },

  _handleButtonMousedown: function( event ) {
    event.preventDefault();
    this.$.sequenceNavigationContainer.focus();
  }
  
});
</script>

</polymer-element>
