<script src="../../../bower_components/platform/platform.js"></script>
<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/polymer/layout.html">

<style>
.demo {
  background-color: #ccc;
  padding: 4px;
  margin: 12px;
}

.demo div {
  background-color: white;
  padding: 12px;
  margin: 4px;
}

.tall {
  height: 124px;
}

.demo[vertical] {
  height: 250px;
}

demo-tabs::shadow #results {
  width: 40%;
  max-width: initial;
}
</style>

